#alert-window{
    text-align: center;
    width: 100%;
    height: 40%;
    border-left: none;
    border-right: none;
    display: none;
    position: fixed;
    box-shadow: 0.5px 0.5px 5px 5px rgba(0, 0, 0, 0.096);
    top: 30%;
    z-index: 3;
    transition: 9s;
}
#alert-box-buttons{
    width: 80%;
    height: 20%;
    border: solid 1px transparent;
    position: absolute;
    left: 10%;
    top: 70%;
}

.alert-buttons{
    cursor: pointer;
    text-align: center;
    color: white;
    padding: 20px;
    margin-left: 10px;
    width: 80px;
    height: 10px;
    box-shadow: 0.5px 0.5px 5px 5px rgba(0, 0, 0, 0.096);
    border-radius: 0.2em ;
    display: inline-block;
    position: relative;
    left: 2%;
    top: 20%;
    transition: all 0.1s;
}
.alert-buttons:hover{
    background-color: gray;
    color: black;

}
#alert-message{
    overflow: auto;
    font: normal 15px monospace;
    color: white;
    max-height: 150px;
    position: relative;
    top: 15%;
    -moz-user-select:""; 
    -webkit-user-select: ""; 
    -moz-user-select: "";
    -ms-user-select: "";
    user-select: ""; 
    -o-user-select: "";
}

#alert-box{
    display: none;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    position: absolute;
}

#insert-alert{
    background-color:rgb(17, 19, 24);
    box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.6);
    border-bottom: solid 8px rgb(94, 122, 199);
    margin-left: 23px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 30px 100px;
    border-radius: 0.4em;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}

#alert-input{
    border-radius: 0.4em;
    border: none;
    padding: 10px 10px;
    outline: none;
    width: 80%;
    font: normal 16px 'Ubuntu';
}

.alert-button{
    height: 40px;
    border: solid 2px transparent;
    background-color: rgb(94, 122, 199);
    color: white;
  
    padding: 10px 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 25px;
  
    font-size: 17px;
    font-family: 'Ubuntu';
    transition: all 0.4s;
    border-radius: 0.2em;
}

.alert-button:hover{
    background-color: transparent;
    border-color: rgb(94, 122, 199);
}

.alert-button-red{
    height: 40px;
    border: solid 2px transparent;
    background-color: rgb(199, 94, 94);
    color: white;
  
    padding: 10px 20px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 25px;
  
    font-size: 17px;
    font-family: 'Ubuntu';
    transition: all 0.4s;
    border-radius: 0.2em;
}

.alert-button-red:hover{
    background-color: transparent;
    border-color: rgb(199, 94, 94);
}